<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body>
<div id="wrapper">
<header>
    <% include ../partials/menu %>
</header>

<main>
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Welcom to SOMA JJK Team
                        </h1>

                    </div>
                </div>
            </div> <!-- /.container-fluid -->
        </div> <!-- /#page-wrapper -->
</main>

<footer>
  <% include ../partials/footer %>
</footer>
</div>
</body>
</html>