<!DOCTYPE html>
<html lang="en">


<head>
<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
<!--
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/cosmo/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/readable/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/journal/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/cerulean/bootstrap.min.css" type="text/css">
-->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/cerulean/bootstrap.min.css" type="text/css">

<link rel="stylesheet" type="text/css" href="css/login.css">
</head>

<body>
<div class="vertical-center horizontal-center">
<div class="container">
  <form role="form">
    <div class="form-group ">
      <label for="account_id">아이디</label> 
      <input type="text" name="account_id" class="form-control" id="account_id">
    </div>
    <div class="form-group">
      <label for="password">비밀번호</label> 
      <input type="password" name="password" class="form-control" id="password">
    </div>
    <button type="submit" id="signSubmit" class="btn btn-primary btn-lg" data-action="save" role="button">로그인</button>
  </form>
</div>
</div>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#signSubmit').button();
      $('#signSubmit').click(function(e) {
        e.preventDefault(); // To prevent following the link (optional)
        var formData = $('form').serialize();

        $.ajax({
          type: "POST",
          url: '/api/signin',
          data:formData,
          success: function(response) {
            console.log(response);
            if( response ){
              window.location.replace(response.goto);
            }
          },
          error: function(request, status, error){
            console.log('code : ' + request.status + '\n' + 'message : ' + request.responseText + '\n' + 'error : ' + error);
            alert("로그인에 실패하였습니다");
          }
        }); // ajax
      }); // click
    }); // ready
  </script>
</body>

</html>
